body {
    margin: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    padding: 0;
    background-color: #f2f2f2;
}


@font-face {
    font-family: logInFont;
    src: url(/Fonts/LEMONMILK-Regular.otf);
}

@font-face {
    font-family: navFont;
    src: url(/Fonts/KGRedHands.ttf);
}

@font-face {
    font-family: pFont;
    src: url(/Fonts/SimplyMono-Bold.ttf);
}

header {
    background-color: red;
}

nav {
    background-color: #333;
    width: 100%;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

nav a {
    color: #333;
}

nav a.active {
    color: red; 
}

nav ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

nav li {
    display: inline-block;
}

.nav-link {
}

li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-family: navFont;
}

.main-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    min-height: calc(100% - 80px);
}

main {
    flex: 1;
}


nav > a.log_out {
    color: white;
    float: right;
    text-decoration: none;
    margin-top: 5px;
    padding-bottom: 15px;
    font-family: logInFont;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow-y: scroll; 
    height: 100vh;
}


.wrapper::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
}

/* Hide the scrollbar on Firefox */
.wrapper {
    scrollbar-width: none; /* Set the scrollbar width to none */
}

#user_div {
    color: white;
    float: right;
    text-decoration: none;
    margin-top: 5px;
    padding-bottom: 15px;
    font-family: logInFont;
}
.card {
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    max-width: 1100px;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 60px;
}

.card h2 {
    color: #333333;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.card p {
    color: #666666;
    font-size: 16px;
    line-height: 1.5;
}

.btn-submit {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
