body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}


@font-face {
    font-family: logInFont;
    src: url(Fonts/LEMONMILK-Regular.otf);
}

@font-face {
    font-family: navFont;
    src: url(Fonts/KGRedHands.ttf);
}

@font-face {
    font-family: pFont;
    src: url(Fonts/SimplyMono-Bold.ttf);
}
header{
    background-color: red;
}
nav {
    background-color: #333;
    width: 100%;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

nav a {
    color: #333; /* Default link color */
}

nav a.active {
    color: red; /* Active link color */
}

nav ul{
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;

}

nav li{
    display: inline-block;
}

.nav-link{

}

li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-family: navFont;
}

main {
    flex: 1;
}

.image-container {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;

}

.image-container > img {
    box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.5);
    border: 1px solid #ddd;
}

#text1 {
    flex-direction: row;
    flex-wrap: wrap;
}

#text2 {
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

#text3 {
    flex-direction: row;
    flex-wrap: wrap;
}

.text-container {
    display: flex;
    flex: 1;
    height: 100%;
    align-items: center;
    flex-direction: column;
} 
.text-container > p{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 10px;
    padding: 0;
    font-family: pFont;
    font-size: 20px;
}

.image-container::before {
    content: ""; /* add the pseudo-element */
    position: absolute; /* set the position of the pseudo-element */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); /* set the background color to a semi-transparent black */
    z-index: -1; /* set the z-index to -1 to position the pseudo-element behind the content */
}

#firstImage {
    margin-top: 50px;
    position: relative; /* set the position of the container to relative to position the pseudo-element */
    display: flex;
    align-items: center;
}

#secondImage {
    margin-top: 50px;
    position: relative; /* set the position of the container to relative to position the pseudo-element */
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

#thirdImage {
    margin-top: 50px;
    position: relative; /* set the position of the container to relative to position the pseudo-element */
    display: flex;
    align-items: center;
}

nav > a.log_out {
    color: white;
    float: right;
    text-decoration: none;
    margin-top: 5px;
    padding-bottom: 15px;
    font-family: logInFont;
}

footer {
    text-align: center;
    background-color: #333;
    margin-top: 50px;
    height: 150px; 
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow-y: scroll; /* Use "scroll" instead of "auto" */
    height: 100vh;
}

    /* Hide the scrollbar track */
    .wrapper::-webkit-scrollbar {
        width: 0; /* Set the width to 0 */
        background-color: transparent;
    }

/* Hide the scrollbar on Firefox */
.wrapper {
    scrollbar-width: none; /* Set the scrollbar width to none */
}


#user_div {
    color: white;
    float: right;
    text-decoration: none;
    margin-top: 5px;
    padding-bottom: 15px;
    font-family: logInFont;
}

#logOut{

}