USE [#DSS2018_BankAccounts1]
GO
/****** Object:  Table [dbo].[AccountOwners]    Script Date: 14.05.2020 10:01:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountOwners](
	[OwnerId] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [nvarchar](50) NULL,
	[FirstName] [nvarchar](50) NULL,
	[DateOfBirth] [date] NULL,
	[IDCard] [varchar](10) NULL,
	[OwnerPIN] [varchar](13) NULL,
	[Locality] [nvarchar](20) NULL,
	[Address] [nvarchar](70) NULL,
	[Phone] [char](20) NULL,
	[UserID] [bigint] NULL,
 CONSTRAINT [PK_AccountOwners] PRIMARY KEY CLUSTERED 
(
	[OwnerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountTransactions]    Script Date: 14.05.2020 10:01:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountTransactions](
	[TransactionId] [int] IDENTITY(1,1) NOT NULL,
	[TransactionType] [nvarchar](50) NULL,
	[TransactionDate] [datetime] NULL,
	[Amount] [decimal](18, 2) NULL,
	[AccountId] [int] NULL,
	[Explanation] [nvarchar](max) NULL,
	[ExternalCounterpartID] [bigint] NULL,
 CONSTRAINT [PK_AccountTransactions] PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BankAccounts]    Script Date: 14.05.2020 10:01:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BankAccounts](
	[AccountId] [int] IDENTITY(1,1) NOT NULL,
	[AccountIBAN] [varchar](34) NULL,
	[AccountType] [nvarchar](50) NULL,
	[OpeningDate] [date] NULL,
	[InterestRate] [decimal](18, 2) NULL,
	[OwnerId] [int] NULL,
 CONSTRAINT [PK_BankAccounts] PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExternalCounterparts]    Script Date: 14.05.2020 10:01:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExternalCounterparts](
	[CounterpartId] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[OtherDetails] [nvarchar](500) NULL,
 CONSTRAINT [PK_ExternalCounterparts] PRIMARY KEY CLUSTERED 
(
	[CounterpartId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fees]    Script Date: 14.05.2020 10:01:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fees](
	[FeeId] [int] IDENTITY(1,1) NOT NULL,
	[FeeName] [nvarchar](50) NULL,
	[Application] [nvarchar](max) NULL,
 CONSTRAINT [PK_Fees] PRIMARY KEY CLUSTERED 
(
	[FeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionFees]    Script Date: 14.05.2020 10:01:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionFees](
	[TransactionId] [int] NOT NULL,
	[FeeId] [int] NOT NULL,
	[FeeAmount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_TransactionFees] PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC,
	[FeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 14.05.2020 10:01:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](100) NULL,
	[Password] [nvarchar](500) NULL,
	[email] [varchar](50) NULL,
	[locked] [bit] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AccountOwners] ON 

INSERT [dbo].[AccountOwners] ([OwnerId], [LastName], [FirstName], [DateOfBirth], [IDCard], [OwnerPIN], [Locality], [Address], [Phone], [UserID]) VALUES (1, N'Timofte', N'Gabriel', CAST(N'1990-01-01' AS Date), N'EL 41608  ', N'1480404001608', N'Brasov', NULL, NULL, 1)
INSERT [dbo].[AccountOwners] ([OwnerId], [LastName], [FirstName], [DateOfBirth], [IDCard], [OwnerPIN], [Locality], [Address], [Phone], [UserID]) VALUES (2, N'Lazar', N'Andrei', NULL, N'RI 51104  ', N'1501212001104', N'Ploiesti', NULL, NULL, 2)
INSERT [dbo].[AccountOwners] ([OwnerId], [LastName], [FirstName], [DateOfBirth], [IDCard], [OwnerPIN], [Locality], [Address], [Phone], [UserID]) VALUES (3, N'Ionescu', N'Ion', NULL, N'UN 50606  ', N'1530117000606', N'Pitesti', NULL, NULL, 3)
SET IDENTITY_INSERT [dbo].[AccountOwners] OFF
GO
SET IDENTITY_INSERT [dbo].[AccountTransactions] ON 

INSERT [dbo].[AccountTransactions] ([TransactionId], [TransactionType], [TransactionDate], [Amount], [AccountId], [Explanation], [ExternalCounterpartID]) VALUES (1, N'Account opening', CAST(N'2000-03-11T00:00:00.000' AS DateTime), CAST(0.00 AS Decimal(18, 2)), 96, NULL, NULL)
INSERT [dbo].[AccountTransactions] ([TransactionId], [TransactionType], [TransactionDate], [Amount], [AccountId], [Explanation], [ExternalCounterpartID]) VALUES (2, N'Account opening', CAST(N'2000-04-02T00:00:00.000' AS DateTime), CAST(7000.00 AS Decimal(18, 2)), 51, NULL, NULL)
INSERT [dbo].[AccountTransactions] ([TransactionId], [TransactionType], [TransactionDate], [Amount], [AccountId], [Explanation], [ExternalCounterpartID]) VALUES (3, N'Cash deposit - RON', CAST(N'2000-04-10T00:00:00.000' AS DateTime), CAST(1890.00 AS Decimal(18, 2)), 96, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[AccountTransactions] OFF
GO
SET IDENTITY_INSERT [dbo].[BankAccounts] ON 

INSERT [dbo].[BankAccounts] ([AccountId], [AccountIBAN], [AccountType], [OpeningDate], [InterestRate], [OwnerId]) VALUES (1, N'RO62 BNKX 0062 0023 2323 8239', N'Pension account', CAST(N'2010-03-01' AS Date), CAST(39.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[BankAccounts] ([AccountId], [AccountIBAN], [AccountType], [OpeningDate], [InterestRate], [OwnerId]) VALUES (2, N'RO62 BNKX 0062 0023 2323 4132', N'Pension account', CAST(N'2011-02-21' AS Date), CAST(39.00 AS Decimal(18, 2)), 2)
INSERT [dbo].[BankAccounts] ([AccountId], [AccountIBAN], [AccountType], [OpeningDate], [InterestRate], [OwnerId]) VALUES (3, N'RO62 BNKX 0062 0023 2323 6196', N'Pension account', CAST(N'2012-09-06' AS Date), CAST(39.00 AS Decimal(18, 2)), 3)
GO
SET IDENTITY_INSERT [dbo].[BankAccounts] OFF
GO
SET IDENTITY_INSERT [dbo].[ExternalCounterparts] ON 

INSERT [dbo].[ExternalCounterparts] ([CounterpartId], [Name], [OtherDetails]) VALUES (1, N'PLIMOB SA', NULL)
INSERT [dbo].[ExternalCounterparts] ([CounterpartId], [Name], [OtherDetails]) VALUES (2, N'AUTONOVA SA', NULL)
INSERT [dbo].[ExternalCounterparts] ([CounterpartId], [Name], [OtherDetails]) VALUES (3, N'ANDURANCE SRL', NULL)
SET IDENTITY_INSERT [dbo].[ExternalCounterparts] OFF
GO
SET IDENTITY_INSERT [dbo].[Fees] ON 

INSERT [dbo].[Fees] ([FeeId], [FeeName], [Application]) VALUES (1, N'Account opening', NULL)
INSERT [dbo].[Fees] ([FeeId], [FeeName], [Application]) VALUES (2, N'Account closing', NULL)
INSERT [dbo].[Fees] ([FeeId], [FeeName], [Application]) VALUES (3, N'Cash withdrawal (counter) - RON', NULL)
SET IDENTITY_INSERT [dbo].[Fees] OFF
GO
INSERT [dbo].[TransactionFees] ([TransactionId], [FeeId], [FeeAmount]) VALUES (2, 1, CAST(140.00 AS Decimal(18, 2)))
INSERT [dbo].[TransactionFees] ([TransactionId], [FeeId], [FeeAmount]) VALUES (3, 6, CAST(18.90 AS Decimal(18, 2)))
INSERT [dbo].[TransactionFees] ([TransactionId], [FeeId], [FeeAmount]) VALUES (3, 11, CAST(28.35 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [UserName], [Password], [email], [locked]) VALUES (1, N'gtimofte', N'1339E75B04', N'gtimofte@gmail.com', NULL)
INSERT [dbo].[Users] ([UserID], [UserName], [Password], [email], [locked]) VALUES (2, N'alazar', N'6DADE84B8A', N'alazar@gmail.com', NULL)
INSERT [dbo].[Users] ([UserID], [UserName], [Password], [email], [locked]) VALUES (3, N'iionescu', N'86157724D4', N'iionescu@gmail.com', NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[AccountOwners]  WITH CHECK ADD  CONSTRAINT [FK_AccountOwners_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[AccountOwners] CHECK CONSTRAINT [FK_AccountOwners_Users]
GO
ALTER TABLE [dbo].[AccountTransactions]  WITH CHECK ADD  CONSTRAINT [FK_AccountTransactions_BankAccounts] FOREIGN KEY([AccountId])
REFERENCES [dbo].[BankAccounts] ([AccountId])
GO
ALTER TABLE [dbo].[AccountTransactions] CHECK CONSTRAINT [FK_AccountTransactions_BankAccounts]
GO
ALTER TABLE [dbo].[AccountTransactions]  WITH CHECK ADD  CONSTRAINT [FK_AccountTransactions_ExternalCounterparts] FOREIGN KEY([ExternalCounterpartID])
REFERENCES [dbo].[ExternalCounterparts] ([CounterpartId])
GO
ALTER TABLE [dbo].[AccountTransactions] CHECK CONSTRAINT [FK_AccountTransactions_ExternalCounterparts]
GO
ALTER TABLE [dbo].[BankAccounts]  WITH CHECK ADD  CONSTRAINT [FK_BankAccounts_AccountOwners] FOREIGN KEY([OwnerId])
REFERENCES [dbo].[AccountOwners] ([OwnerId])
GO
ALTER TABLE [dbo].[BankAccounts] CHECK CONSTRAINT [FK_BankAccounts_AccountOwners]
GO
ALTER TABLE [dbo].[TransactionFees]  WITH CHECK ADD  CONSTRAINT [FK_TransactionFees_AccountTransactions] FOREIGN KEY([TransactionId])
REFERENCES [dbo].[AccountTransactions] ([TransactionId])
GO
ALTER TABLE [dbo].[TransactionFees] CHECK CONSTRAINT [FK_TransactionFees_AccountTransactions]
GO
ALTER TABLE [dbo].[TransactionFees]  WITH CHECK ADD  CONSTRAINT [FK_TransactionFees_Fees] FOREIGN KEY([FeeId])
REFERENCES [dbo].[Fees] ([FeeId])
GO
ALTER TABLE [dbo].[TransactionFees] CHECK CONSTRAINT [FK_TransactionFees_Fees]
GO
